
/* --- blog post --- */

#page_number{
  margin: 0;
}

.blog-post{
  background: var(--fill);
  border-top: 6px outset;
  border-color: var(--border);

  margin-top: 0.5em;

  padding: 0.5em 2em 2em;

  overflow: auto;
}
.blog-post h2{
  text-align: center;
}


.blog-post .content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.blog-post .content > *{
  flex-basis: 100%;
  box-sizing: border-box;
}


.blog-post .content .image img{
  box-sizing: border-box;
  border: 6px inset;
  border-color: var(--border);
  filter: grayscale();

  display: block;
  width: 100%;
  height: auto;
}
.blog-post .content .texte{
  display: flex;
  flex-direction: column;
}
.blog-post .content .texte > *{
  margin-top: 0;
}
.blog-post .main-text{
  flex-grow: 1;
}
.blog-post .date{
  text-align: right;
  margin-bottom: 0;
  font-family: monospace;
}


@media (min-width: 601px) {
  .blog-post .content{
    flex-wrap: nowrap;
  }
  .blog-post .content .image{
    flex: 0 0 40%;
    /* height: auto; */
  }
  .blog-post .content .texte{
    padding-left: 2em;
  }
}
