
.header.admin,
.footer.admin {
  background: var(--middle);
  color: white;
}

form{
  background: var(--fill);
  border-top: 6px outset;
  border-color: var(--border);
  padding: 18px 12px;
  margin-bottom: 18px;
}
